.button {
  width: 200px;
  border-radius: 10px;
  height: 30px;
}

.top-menu {
  width: 200px;
  border: none;
  border-top: solid 1px $color-black;
  background-color: white;
  height: 50px;
  cursor: pointer;
  text-align: left;
}

.sub-menu {
  width: 300px;
  -color: black;
  color: white;
  border-radius: 10px;
  height: 30px;
}
