.button {
  width: 200px;
  border-radius: $button-rounded;
  height: 40px;
  border: none;
  cursor: pointer;
}

.top-menu {
  width: 200px;
  border: none;
  border-top: solid 1px $color-black;
  background-color: white;
  height: 50px;
  cursor: pointer;
  text-align: left;
}

.sub-menu {
  width: 300px;
  -color: black;
  color: white;
  border-radius: 10px;
  height: 30px;
}

.border-black {
  border: solid 1px $color-black;
}

.border-white {
  border: solid 1px white;
}

.border-primary {
  border: solid 1px $color-primary;
}

.border-secondary {
  border: solid 1px $color-secondary;
}
