.page-header,
.large-header,
.medium-header,
.small-header {
  font-family: Helvetica;
  font-weight: 800;
  color: $color-black;
  margin-bottom: 10px;
}

.page-header {
  font-size: 40px;
}

.large-header {
  font-size: 35px;
}

.medium-header {
  font-size: 25px;
}

.small-header {
  font-size: 15px;
}

@media only screen and (min-width: $desktop-min) {
  .page-header {
    font-size: 90px;
  }

  .large-header {
    font-size: 55px;
  }

  .medium-header {
    font-size: 35px;
  }

  .small-header {
    font-size: 20px;
  }
}
