.container {
  display: flex;
  flex-direction: column;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

.blok {
  padding: $blok-padding;
  width: calc(100% - $blok-padding * 2);
}
