.img-thumb {
  height: 80px; /* You must set a specified height */
  width: 80px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
