@import "variables";
@import "mediaqueries";
@import "grid";
@import "utils";
@import "image";
@import "flex";

body {
  color: #333;
  margin: 0;
}

p,
a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.card {
  height: 80px;
  width: 60%;
  width: calc(100% - 40px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: var(--box-padding);
  margin: var(--box-margin);
  background-color: var(--color-dark-pink);
  color: var(--color-pink);
  border-radius: 5px;
}
