@import "mediaqueries";
@import "variables";
@import "grid";
@import "utils";
@import "flex";
@import "button";
@import "articles";
@import "fonts";
@import "colors";
@import "typography";
@import "images";

body {
  color: #333;
  margin: 0;
  background-color: #202020;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
