@import "mediaqueries";
@import "variables";
@import "grid";
@import "utils";
@import "flex";
@import "button";
@import "articles";
@import "fonts";
@import "colors";
@import "typography";
@import "images";
@import "animations";

body {
  color: #333;
  margin: 0;
  // #
  // background-color: $color-background;
  width: 100vw;
  min-height: -webkit-fill-available;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__nuxt {
  min-height: 100vh;
}

a,
p,
h1,
h2,
h3,
h4 {
  word-break: break-word;
}
