p,
a {
  font-family: $base-font-family;
  text-decoration: none;
  font-weight: 200;
}

h1,
h2,
h3,
h4 {
  font-family: $base-font-family;
  font-weight: 800;
  color: $color-black;
  margin: 0 0 10px 0;
}

.page-header,
.large-header,
.medium-header,
.small-header {
  font-family: $base-font-family;
  color: $color-black;
  margin: 0 0 10px 0;
}

.medium-header,
.small-header {
  font-weight: 600;
}

.page-header,
.large-header {
  font-weight: 800;
}

.page-header {
  font-size: clamp(60px, 35px + 5vw, 150px);
}

.large-header {
  font-size: clamp(30px, 20px + 1.9vw, 50px);
}

.medium-header {
  font-size: clamp(16px, 13px + 0.5vw, 24px);
}

.small-header {
  font-size: clamp(15px, 12px + 0.5vw, 20px);
}

p {
  font-size: clamp(15px, 11px + 0.5vw, 16px);
  margin: 0 0 5px 0;
}

@media only screen and (max-width: $phone-max) {
  h1,
  h2,
  h3,
  h4 {
    margin: 0 0 5px 0;
  }

  .page-header,
  .large-header,
  .medium-header,
  .small-header {
    margin: 0 0 5px 0;
  }

  //   .page-header {
  //     font-size: 40px;
  //   }

  //   .large-header {
  //     font-size: 35px;
  //   }

  //   .medium-header {
  //     font-size: 20px;
  //   }

  //   .small-header {
  //     font-size: 15px;
  //   }

  //   p {
  //     font-size: 14px;
  //   }
}
