// prettier-ignore

$box-padding: 15px;
$blok-padding: 30px;
$box-margin: 15px;
$blok-margin: 30px;

$color-primary: #ee6ea7;
$color-secondary: #931c54;
$color-black: #191b1d;

$viewport-phone-max: 767px;
$viewport-tablet-min: 768px;
$viewport-tablet-max: 991px;
$viewport-desktop-min: 992px;

$color: red;
